# --- 🛰️ 1. IDENTITY & SECURITY ---
.env
instance/
.webassets-cache
.secrets
*.pem
*.key

# --- 🧬 2. DATABASE NODES ---
*.db
*.sqlite
*.sqlite3
!migrations/

# --- 🐍 3. VIRTUAL ENVIRONMENT (Synced) ---
venv/
ENV/
env/
# Explicitly ignoring your scripts and lib folders
venv/scripts/
venv/lib/
venv/include/
pyvenv.cfg

# --- 📜 4. LOGGING NODES (Synced) ---
logs/
*.log

# --- 🚁 5. BACKGROUND ENGINE ---
__pycache__/
celerybeat-schedule
.pytest_cache/

# --- 🖼️ 6. ASSET NODES ---
app/static/uploads/products/*
app/static/uploads/deliveries/*
!app/static/uploads/products/.gitkeep
!app/static/uploads/deliveries/.gitkeep

# --- 💻 7. OS & IDE ---
.DS_Store
.vscode/
.idea/