services:
  - type: web
    name: fliptrybe
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn run:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: DATABASE_URL
        value: sqlite:////opt/render/project/src/instance/fliptrybe_v2026.db
    disk:
      name: tribe-vault
      mountPath: /opt/render/project/src/instance
      sizeGB: 1